---
import data from "../data/experience.json";
---

<section class="section-container" id="container_experience">
	<div class="hero">
		<div class="experience-content">
			<h2 class="experience-title">Experiencia Laboral</h2>
			<div class="timeline-container">
				{
					data.map((item) => (
						<article class="timeline-item">
							<div class="timeline-dot" />
							<div class="timeline-content">
								<h3>{item.puesto}</h3>
								<h4>{item.empresa}</h4>
								<span class="periodo">{item.periodo}</span>
								<p>{item.descripcion}</p>
								<ul class="tech-list">
									{item.tecnologias.map((tech) => (
										<li>
											<div class="tech-item">
												<img width="" src={tech.icon} alt={tech.title} />
                								<span>{tech.title}</span>
											</div>
										</li>
									))}
								</ul>
							</div>
						</article>
						<hr/>
					))
				}
			</div>
		</div>
	</div>
</section>
